@media screen and (max-width: 1100){
    .navigation {
        flex-direction: column;
        margin-bottom: 23px;
    }
    .nav-left {
        flex-direction: column;
        text-align: center;
    }
    .content-right {
        display: none;
    }
    .search-box{
        display: none;
    }
}